.file-upload-container {
  margin-top: 2%;
  display: flex;
  justify-content: center;
}

.orderFactors {
  margin-top: 2%;
  display: flex;
  justify-content: center;
}

.inputFieldLeft {
  margin-right: 2%;
}

.inputField {
  margin-left: 2%;
}

.inputFieldRight {
  margin-left: 2%;
}
