<app-process-navbar></app-process-navbar>
<br/>
<mat-card class="example-card">
  <mat-card-title> {{ 'upload.title' | translate }}</mat-card-title>
  <mat-divider inset></mat-divider>
  <mat-card-content>
    <br/>
    {{ 'upload.explanation' | translate }}
  </mat-card-content>
</mat-card>

<!-- <div *ngIf="fileUploaded && !periodeAlt" style="text-align: center; overflow: hidden;">
  <mat-card class="example-card">FILE REJECTED!</mat-card>
</div>

<div *ngIf="fileUploaded && periodeAlt" style="text-align: center; overflow: hidden;">
  <mat-card class="example-card">Periode {{periodeAlt.ToString()}}</mat-card>
</div>

<div *ngIf="fileUploaded">
  <mat-card class="example-card">Datei Da.</mat-card>
</div>
<div *ngIf="periodeAlt">
  <mat-card class="example-card">periode Da.</mat-card>
</div> -->

<!-- Is shown when no file has been uploaded -->
<div *ngIf="!getProgress(); else resetProgress">
  <div class="file-upload-container">
    <!-- Button to upload a file -->
    <button mat-raised-button color="primary" (click)="fileInput.click()">
      {{ "upload.button" | translate }}
    </button>
    <input hidden type="file" accept="text/xml" #fileInput (change)="onFileInput(fileInput.files)"/>
  </div>
  <div class="file-upload-container">
    <!-- Disabled button to reset the progress -->
    <button mat-raised-button color="primary" (click)="openDialog()" [disabled]="true">
      {{ "upload.resetProgress" | translate }}
    </button>
  </div>
</div>

<!-- Is shown when a file has already been uploaded -->
<ng-template #resetProgress>
  <div class="file-upload-container">
    <!-- Diabled button to upload a file -->
    <button mat-raised-button color="primary" (click)="fileInput.click()" [disabled]="true">
      {{ "upload.button" | translate }}
    </button>
    <input hidden type="file" accept="text/xml" #fileInput (change)="onFileInput(fileInput.files)"/>
  </div>
  <!-- Button to reset the progress -->
  <div class="file-upload-container">
    <button mat-raised-button color="primary" (click)="openDialog()">
      {{ "upload.resetProgress" | translate }}
    </button>
  </div>
</ng-template>

<!-- HTML code for the view of the spinner -->
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#532e7d" type="ball-spin-clockwise" [fullScreen]="true">
  <p style="color: white; margin-top: 50px; font-size: 16px; font-weight: bold">{{ 'upload.spinner' | translate }}</p>
</ngx-spinner>
