<div id="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-8">
        <img width="400" src="/assets/pictures/IBSYSII_Logo.png" alt="Logo">
      </div>
      <div align="right" valign="middle"  class="col-4">
        <div class="dropdown">
          <button class="btn-dropdown btn-secondary dropdown-toggle" type="button" id="changeLanguage" data-bs-toggle="dropdown" aria-expanded="false">
            Deutsch
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Englisch</a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>


</div>
