<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Part-ID Column -->
    <ng-container matColumnDef="partId">
      <th mat-header-cell *matHeaderCellDef>{{ 'disposition.partID' | translate }}</th>
      <td mat-cell *matCellDef="let element"> {{ element.partId }}</td>
    </ng-container>

    <!-- Sales Orders Column -->
    <ng-container matColumnDef="salesorders">
      <th mat-header-cell *matHeaderCellDef>{{ 'disposition.salesOrders' | translate }}</th>
      <td mat-cell *matCellDef="let element"> {{ element.salesorders }}</td>
    </ng-container>

    <!-- Additional Parts to be produced for the Queue Column -->
    <ng-container matColumnDef="additionalparts">
      <th mat-header-cell *matHeaderCellDef>{{ 'disposition.additionalParts' | translate }}</th>
      <td mat-cell *matCellDef="let element"> {{ element.additionalparts }}</td>
    </ng-container>

    <!-- Planned Warehouse Stock Column -->
    <ng-container matColumnDef="PWS">
      <th mat-header-cell *matHeaderCellDef>{{ 'disposition.plannedWarehouseStock' | translate }}</th>
      <td mat-cell *matCellDef="let element"> {{ element.PWS }}</td>
    </ng-container>

    <!-- Current Warehouse Stock Column -->
    <ng-container matColumnDef="CWS">
      <th mat-header-cell *matHeaderCellDef>{{ 'disposition.currentWarehouseStock' | translate }}</th>
      <td mat-cell *matCellDef="let element"> {{ element.CWS }}</td>
    </ng-container>

    <!-- Orders in Waiting Queue Column -->
    <ng-container matColumnDef="OiWQ">
        <th mat-header-cell *matHeaderCellDef>{{ 'disposition.ordersInWaitingQueue' | translate }}</th>
        <td mat-cell *matCellDef="let element"> {{ element.OiWQ }}</td>
    </ng-container>

    <!-- Work in Progress Column -->
    <ng-container matColumnDef="workinprogress">
        <th mat-header-cell *matHeaderCellDef>{{ 'disposition.workInProgress' | translate }}</th>
        <td mat-cell *matCellDef="let element"> {{ element.workinprogress }}</td>
    </ng-container>

    <!-- Additional Planned Warehouse Stock Column -->
    <ng-container matColumnDef="additionalwarehousestock">
      <th mat-header-cell *matHeaderCellDef>{{ 'disposition.additionalPlannedWarehouseStock' | translate }}</th>
      <td mat-cell *matCellDef="let element">
        <form-field mat-form-field appearance="fill">
            <input matInput type="number" step="10" [(ngModel)]="element.additionalwarehousestock" (ngModelChange)="updateAdditionalWarehouseStock(element)">
          </form-field>
      </td>
    </ng-container>

    <!-- Production Column -->
    <ng-container matColumnDef="production">
        <th mat-header-cell *matHeaderCellDef>{{ 'disposition.production' | translate }}</th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'make-gold': element.production < 0}"> {{ element.production }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>



