<div id="hero">
  <div id="picture-background" class="container">
    <div class="row">
      <div class="col-8">
        <h1 class="display-4" style="padding-top: 100px; ">
          {{ "home.heading" | translate }}
        </h1>
        <p id="hero-text" style="padding-top: 30px;">
          {{ "home.text" | translate }}
        </p>
        <div
          class="btns"
          style="display: inline-block; padding-top: 40px; border: orange; border-radius: 5px;"
          align="right"
        >
          <a
            align="middle"
            [routerLink]="'/file-upload'"
            routerLinkActive="active"
            >{{ "home.button" | translate }}</a
          >
        </div>
        <div
          class="btns2"
          style="display: display-box; padding-top: 30px; border: orange; border-radius: 5px;  "
        >
          <a
            align="middle"
            [routerLink]="'/dashboard'"
            routerLinkActive="active"
            >{{ "home.dashboard" | translate }}</a
          >
        </div>
      </div>
      <div class="col-4">
        <div ></div>
        <img src="assets/pictures/JBGB_Logo_neu-modified.png" style="padding-top: 120px;" />
      </div>
    </div>
  </div>
</div>
